@media(max-width: 1200px){
    main{
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-content{
        width: 100%;
        align-items: center;
        margin-bottom : 15%;
    }

    main .main-content .text, .techs{
        text-align: center;

    }
    main .main-content .text{
        width: 100%;
        font-size: 0.9em;
    }

    main .techs .cards-container, .main-content .text p{
        margin-top: 32px;
    }
}

@media (max-width: 700px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header .options{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .options #op{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header h1{
        font-size: 2em;
    }

    header nav{
        margin-top: 24px;
    }
    header nav a{
        font-size: 1em;
    }

    main .techs .cards-container .card{
        width: 60px;
        height: 60px;
    }
    .cards-container .cards, img{
        
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tech{
        display:flex;
        flex-direction:column;
        align-items: center;

    }
        

    }
   
    .text, #cima{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 50px;
    }
    .text, #baixo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 50px !important;
    }
    .text{
        font-size: 10px;
    }

 

@media (max-width: 400px){
    figure,img{
        max-width: 50vh ;
        max-height: 50vh ;
    }
    .text, #cima{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text, #baixo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text{
        font-size: 10px;
    }
}
@media (max-width: 300px){
    figure,img{
        max-width: 30vh !important;
        max-height: 30vh !important;
    }
    p{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
}